table {
    border-spacing: 0 20px;
}

tr {
  position: relative;
}
tr::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  z-index: -1;
}

th {
    padding: 20px;
}

td {
  position: relative;
  padding: 20px;
}