.page-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

p {
    opacity: 50%;
}