.create-object-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0f0f0f;
}

.form-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-width: 550px;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

