input {
  autocomplete: off;
}

.input-value-row {
  display: flex;
  align-items: center;   
  justify-content: space-between; 
  gap:30px;
}

.input-container {
  margin-top: auto;
}

.glass-input {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s ease;
  outline: none;
  width: 215px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  height: 20px;
  /* max-width: 200px; */
}

.glass-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.glass-input:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
}

.glass-input:focus {
  background: rgba(255, 255, 255, 0.1);
  border-color: #7661C2;
  box-shadow: 
    0 0 0 3px rgba(0, 153, 255, 0.15),
    0 4px 12px -1px rgba(0, 0, 0, 0.2);
}

